# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
.classpath
.project
_config.yml
*.iml
out
gen
bin
.gitignore
.idea/.gitignore
.idea/.name
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
SulistinhaGame.iml
