# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
bin
.project
.settings
.classpath
_config.yml
*.iml
out
gen
.gitignore
.idea/.gitignore
.idea/.name
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
SulistinhaGame.iml
